
<p id="notice"><%= notice %></p>

<% if current_user.admin.defined? %>
  <script type="text/javascript">
      window.location.href="/signups/new"
  </script>
<% end %>
<h1>Signups</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Photo</th>
      <th>Selfie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<% @signups.each do |signup| %>
    <% created_ago = (Time.now - signup.created_at) / 1.hours %>

    <% #if created_ago.round > 24 %>
     <% #next %>
  <% #end %>
      <tr>
        <td><%= signup.first_name %></td>
        <td><%= signup.last_name %></td>
        <td><%= signup.email %></td>
        <td><%= signup.address %></td>
        <td><%= signup.address2 %></td>
        <td><%= signup.city %></td>
        <td><%= signup.state %></td>
        <td><%= signup.zip %></td>
        <td><%= signup.phone %></td>
        <td><%= image_tag(signup.photo_id, style: 'width:100px') if signup.selfie.attached? %></td>
        <td><%= image_tag(signup.selfie, style: 'width:100px') if signup.photo_id.attached? %></td>
        <td><%= link_to 'Show', signup %></td>
        <td><%= link_to 'Edit', edit_signup_path(signup) %></td>
        <td><%= link_to 'Destroy', signup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signup', new_signup_path %>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
