<!-- Modal -->
<div class="modal show fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Mobile Phone Verification</h5>
      </div>
      <div class="modal-body">
        Verification Code:
        <input id="verify">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background: #337ab7a3;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> <i id="success-icon" style="color: lightgreen; display: none" class="fas fa-lock-open-alt fa-2x"> <span id="success-text">The Store is now unlocked.</span></i>
            <div style="display: none" id="failure">
              <i style="color: red" class="fas fa-exclamation-triangle fa-2x"></i>
              Something went wrong
            </div><span id="loading-text">Processing ... </span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This is a good place for directions on what to do when the customer goes in the store.
        </div>
        <div class="modal-footer">
          <!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
          <button id="close" type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
        </div>
      </div>
    </div>
  </div>
<p id="notice"><%= notice %></p>

</div>
<%= @body %>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/fe8b25c4e5.js" crossorigin="anonymous"></script>



<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Snoozze Mattress Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<% created_ago = (Time.now - @signup.created_at) / 1.hours %>

<% if created_ago.round > 24 %>
  <%= "Session Expired " %>
  <%= link_to 'New Session', new_signup_path %>
  <% else %>


<div class="container bootstrap snippet">
  <div class="row" style="margin-left: 10px">
    <div class="col-xs-7"><h1><%= @signup.first_name %> <%= @signup.last_name %></h1></div>

    <div class="col-xs-5">
      <button data-toggle="modal" disabled="disabled" data-target="#exampleModal" class=" unlock btn pull-right" style="margin: 20px;" id="unlock_button">Unlock Door</button>
    </div>
    <%= "There are  #{24 - created_ago.round} hours left in your session" %>
  </div>
  <div class="row">
    <div class="col-sm-3"><!--left col-->


      <div id="profile-img" class="text-center">
        <%= image_tag(@signup.selfie) if @signup.selfie.attached? %>

      </div></hr><br>


      <div class="panel panel-default">
        <div class="panel-heading">Drivers License</div>
        <%= image_tag(@signup.photo_id) if @signup.photo_id.attached? %>

      </div>



    </div><!--/col-3-->
    <div class="col-sm-9">


      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <%= form_for @signup, :html => {:id => "signup_form"} do |form| %>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="first_name"><h4>Email</h4></label>
                <%= form.text_field :email, :disabled => true %>

              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="last_name"><h4>Address</h4></label>
                <%= form.text_field :address, :disabled => true %>

              </div>
            </div>

            <div class="form-group">

              <div class="col-xs-6">
                <label for="phone"><h4>Address 2</h4></label>
                <%= form.text_field :address2, :disabled => true %>

              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <label for="mobile"><h4>City</h4></label>
                <%= form.text_field :city, :disabled => true %>

              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="email"><h4>State</h4></label>
                <%= form.text_field :state, :disabled => true %>

              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="email"><h4>Zip</h4></label>
                <%= form.text_field :zip, :disabled => true %>

              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="password"><h4>Mobile Phone</h4></label>
                <%= form.text_field :phone, :disabled => true %>

              </div>
            </div>

            <div class="form-group">

              <div class="col-xs-6">
                <label for="password"><h4>Location</h4></label>
                <%= form.text_field :location_id, :disabled => true %>

              </div>
            </div>

            <div class="form-group">

              <div class="col-xs-6">
                <%= form.hidden_field :verified, value:"1"   %>
              </div>
            </div>




            <div id="form-submit" style="display: none" class="actions">
              <%= form.submit %>
            </div>

          <% end %>


          <hr>

        </div><!--/tab-pane-->

      </div><!--/tab-pane-->
    </div><!--/tab-content-->

  </div><!--/col-9-->
</div><!--/row-->
  <%end %>




<script>
    $( "#close" ).click(function() {
        $("#profile-img").click()
    });


    $( "#unlock_button" ).click(function() {
    $.ajax({
            url: "<%= request.base_url %>/dashboard?code=<%= @signup.code %>&org=<%= Location.find(@signup.location_id).org_id %>&user=<%= Location.find(@signup.location_id).user_id %>&cred=<%= Location.find(@signup.location_id).cred_id %>&entry=<%= Location.find(@signup.location_id).entry_id %>",
            type: 'GET',
            success: function(res) {
                var result = $("#result", res)[0].textContent
                console.log(result);
                if (result.indexOf('Success') >= 0){
                    $('#success-icon').show();
                    $('#loading-text').hide();
                    // $('#success-icon').delay(1000).fadeOut(2000)
                }
                else{
                    $('#failure').show();
                    // $('#failure').delay(1000).fadeOut(2000)
                }
            }
        });
    });

    $("#verify").on("input", function() {
      if (jQuery('#verify').val() == <%= @signup.code %>){
          $("#signup_form").submit();

      }
    });

    <% if @signup.verified == '1' %>
    $( document ).ready(function() {
        $('#exampleModalCenter').removeClass('show');
        document.getElementById("unlock_button").disabled = false;
    });
      <% end %>


</script>

