<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Org:</strong>
  <%= @location.org_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @location.user_id %>
</p>

<p>
  <strong>Cred:</strong>
  <%= @location.cred_id %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @location.entry_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<% if current_user.admin != 'yes' %>
  <script type="text/javascript">
      window.location.href="/signups/new"
  </script>
<% end %>